<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="css/level3.css">
 <title>Document</title>
</head>

<body  oncontextmenu="return false">
 
 <video id="myVideo" autoplay loop muted >
 <source src="video/hh.mp4" type="video/mp4">
 <!-- <h1 style="color: blanchedalmond;">apple</h1> -->
 </video>
 <img src="image/IETE LOGO WHITE.png" alt="" width="90" height="90" style="margin-top: 2vh;"> 
 <img src="https://cdn.glitch.com/bf27ab69-6b96-4944-ba4a-4dc2b058bf78%2Fthumbnails%2Fcropped_logo1-01.png?1632681644837" alt="" srcset="" width="250" style="float:right; margin-top:2vh; padding-right:5px;">
 <!-- <h1 class="glitch ml-auto" data-text="D'CIPHER">D'CIPHER</h1> -->
 <!-- <h2 style="color: white;">what ddkjfhlksdf</h2> -->

 <h1 class="glitch ml-auto event1" style="text-align:center; color:white;" >LEVEL 3</h1>
 <!-- <h1 class="glitch ml-auto event1" data-text="LEVEL 1">LEVEL 1</h1> -->
  <div class="container" style="border: 2px ; text-align: left; margin-top:10vh;">
 <h2 style="color: rgb(253, 253, 253); font-size: x-large;" id="te" >A shallow place in a river or a stream is what birthed me. In my alias, you must look closely. Unscramble it like you would an analogy.<br>In body, I appear to look like you but this ruse is the ultimate deceit. What you are seeking is the name of my previous paragon and prodigy.<br>If sentience is your ultimate goal, you must prepare yourself for the clues to unroll.


</h2>
    <br>
<br>
<form action="/l3q3" method="POST">
 <input type="text" id="he" style="color: black;" name="ans">
 <br>
 <br>
 <h5 style="color:white;" >Please enter your password Below:</h5>
 <input type="text" id="he" style="color: black; " name="uc">
 <input type="text" class="hin" id="time" name="Time">

<br>
 <button type="submit" class="button" onclick="t()" >Submit</button>

</form> 

  
<br>





 <button id="hint11" class="hin button" onclick="f5()">Hint1</button>
 <button id="hint12" class="hin button" onclick="f3()">Hint2</button>
 <button id="hint13" class="hin button" onclick="f6()">Hint3</button>



 


 <br>
<br>
 <h2 id="show" style="color: rgb(255, 255, 255); font-size: medium; font-size: 20px; "></h2>
 <br>
 <br>
 
 <h2 id="s2" style="color: rgb(255, 255, 255); font-size: medium; font-size: 20px; " ></h2>
 <br>
 <br>
 <h2 id="show1" style="color: rgb(255, 255, 255); font-size: medium; font-size: 20px;"></h2>



</body>
<script src="js/l3q3.js"></script>
 
</html>