<!doctype html>
<html lang="en">

<head>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
 <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
 <title>D'Cipher</title>
 <link rel="stylesheet" href="css/landing.css">


</head>

<body oncontextmenu="return false">



 <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg btn-10">
 <a class="navbar-brand " href="/landing"><img src="image/IETE LOGO WHITE.png" alt="" height="90" width="90"></a>

  <h1 class="navbar-brand hid" style="font-size: 2.5rem; color: white;" id="hidden"><img src="https://cdn.glitch.com/bf27ab69-6b96-4944-ba4a-4dc2b058bf78%2Fthumbnails%2Fcropped_logo1-01.png?1632681644837" alt="" width="150"></h1>

 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
 <form class="form-inline my-2 my-lg-0 ml-auto ">
 <div class="wrap_nav">

 <button onclick="aler()" style="background-color: transparent; border: 0;"><a class="navbar-brand ml auto whitetext" href="/landing" ><span>Start Game</span></a></button>
 <a class="navbar-brand ml auto whitetext" href="/Instructions"><span>Rules</span></a>
 <a class="navbar-brand ml auto whitetext" href="/prize"><span>Prizes</span></a>
 <a class="navbar-brand ml auto whitetext" href="/event"><span>Elan '21</span></a>
 
 </div>
 </form>
 </div>
 </nav>




<div class="page">
 <div class="parallax">
 <div class="fixed">
 <div class="container con1">
<img src="https://cdn.glitch.com/bf27ab69-6b96-4944-ba4a-4dc2b058bf78%2Fthumbnails%2Fcropped_logo1-01.png?1632681644837" alt="" srcset="" width="250" style="margin-top: -20vh;">
 <h4 style="margin-top: -5vh;">IETE-TSEC presents to you D’Cipher- The Ultimate Cryptic Hunt. To solve the mysteries, you must turn to our clue. It’s time you buckle up; for, the reward is yours to pursue! This extremely engaging Virtual Cryptic Hunt is sure to excite your inner Sherlock. By the time you reach the end of all the mysteries we’ve carefully curated, the path won’t seem any less complicated than the Dark family tree. The entire event will be held in three different stages each with increasing difficulty and multiple themes!! So, turn your abode into bakers street, and find the answers to this mystery. This hard earned victory will be sweetened further with exciting gifts and vouchers!</h4>

 </div>

 <h2 style="margin-top: 13vh;">Our Sponsors</h2>

 <div class="flex-container ">
 <div class="flex-item-left " data-aos="fade-right">
 <img src="image/GFG.png" alt="" height="" width="200"></a>
 </div>

 <div class="flex-item-right" data-aos="fade-right">
 <img src="image/Cinamon stick.png" alt="" height="" width="200"></a>
 </div>
 <div class="flex-item-right" data-aos="fade-right">
 <img src="image/Asset 6logo final.png" alt="" height="" width="200"></a>
 </div>
 </div>
 <div class="flex-container ">
<div class="flex-item-left " data-aos="fade-right">
<img src="image/Bell official.png" alt="" height="" width="200"></a>
</div>
   
<div class="flex-item-right" data-aos="fade-right">
<img src="image/AI Adventures.png" alt="" height="" width="200"></a>
</div>
<div class="flex-item-right" data-aos="fade-right">
<img src="image/No Escape.png" alt="" height="" width="200"></a>
</div>
</div>
<div class="flex-container ">
<div class="flex-item-left " data-aos="fade-right">
<img src="image/clarette.png" alt="" height="" width="200"></a>
</div> 
<div class="flex-item-left " data-aos="fade-right">
<img src="image/ff2.png" alt="" height="" width="300"></a>
</div> 
  
<div class="flex-item-right" data-aos="fade-right">
<img src="image/imperial.png" alt="" height="" width="200"></a>
</div>
    <!-- <div class="flex-item-right" data-aos="fade-right">
<img src="image/No Escape.png" alt="" height="" width="200"></a>
</div> -->
</div>
 <div class="flex-container ">
<div class="flex-item-left " data-aos="fade-right">
<img src="image/jimmy" alt="" height="" width="200"></a>
</div>

<div class="flex-item-right" data-aos="fade-right">
<img src="image/offkickswhite.png" alt="" height="" width="200"></a>
</div>
<div class="flex-item-right" data-aos="fade-right">
<img src="image/hykes white.png" alt="" height="" width="200"></a>
</div>
</div>
<div class="social">
 <div class="row">

<div class="col-sm-3"></div>
<div class="col-sm-6">


</div>
<div class="col-sm-3"></div>
<!-- <div class="col-xl-1"></div>
<div class="col-xl-1"></div> -->
</div>
</div>






<br> <br>

<div class="Contacts">
 <div class="row" >
 <div class="col-xl-6" >Rhutam Thakur 9819173361</div>
 <div class="col-xl-6">Varsha Prabhakar 6380608411</div>
 </div>
</div>




 </div>










 <div class="parallax__layer parallax__layer--back">
 <div class="starfield">
 <span></span>
 <span></span>
 <span></span>
 <span></span>
 </div>
 </div>
 <div class="parallax__layer parallax__layer--back2">
 <div class="starfield">
 <span></span>
 <span></span>
 <span></span>
 <span></span>
 </div>
 </div>
 <div class="parallax__layer parallax__layer--back3">
 <div class="starfield">
 <span></span>
 <span></span>
 <span></span>
 <span></span>
 </div>
 </div>
 <div class="parallax__layer parallax__layer--base">
 <div class="starfield">
 <span></span>
 <span></span>
 <span></span>
 <span></span>
 </div>
 </div>

 </div>
</div>







 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>



</body>
<script src="js/landing.js"></script>

</html>
