<!DOCTYPE html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="css/level2.css">
</head>
<body style="  background: url(image/f.jpg) no-repeat center center fixed;   -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">

 <img src="image/IETE LOGO WHITE.png" alt="" width="90" height="90" style="margin-top: 2vh;"> 
 <img src="https://cdn.glitch.com/bf27ab69-6b96-4944-ba4a-4dc2b058bf78%2Fthumbnails%2Fcropped_logo1-01.png?1632681644837" alt="" srcset="" width="250" style="float:right; margin-top:2vh; padding-right:5px;">
 <!-- <h1 class="glitch ml-auto" data-text="D'CIPHER">D'CIPHER</h1> -->
 <!-- <h2 style="color: white;">what ddkjfhlksdf</h2> -->

 <h1 class="glitch ml-auto event1" style="text-align:center; color:white;" >LEVEL 2</h1>
 <div class="container" style="border: 2px ; text-align: left; margin-top:10vh;">
 <h2 style="color: rgb(253, 253, 253); font-size: x-large;" id="te" >I belong to a team whose current name was initially an unofficial nickname given to it by a Sports Editor.<br>(yvhg urvowrmt hslighglk)<br> I play a sport in which the ball can't be touched by the offensive team.
</h2>
    <br>
<br>
<form action="/l2q1" method="POST">
 <input type="text" id="he" style="color: black;" name="ans">
 
<br>
<br>
 <button type="submit" class="button" >Submit</button>

</form> 

  
<br>
<br>




 <button id="hint11" class="hin button" onclick="f5()">Hint1</button>
 <button id="hint12" class="hin button" onclick="f3()">Hint2</button>
 <button id="hint13" class="hin button" onclick="f6()">Hint3</button>



 


 <br>

 <h2 id="show" style="color: rgb(255, 255, 255); font-size: medium; font-size: 20px; "></h2>
 <br>
 
 <h2 id="s2" style="color: rgb(255, 255, 255); font-size: medium; font-size: 20px; " ></h2>
 <br>
 <h2 id="show1" style="color: rgb(255, 255, 255); font-size: medium; font-size: 20px;"></h2>


 
<video src="video/videoplayback.mp4" id="showa" class="hin" ></video>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
</body>
<script src="js/level2.js"></script>
 </html>